body{
  background-image:url(fond/cwal.jpg);
  background-size: cover;
}

.jt{
  text-align: center;
  font-size:50px;
  font-weight:1000;
  color:#996677;
  }
  
.jdef{
  font-size:18px;
  color:#996677;
}

.jdes{
  font-size:16px;
  color:#996677;
}

.tablow{
  text-align: center;
}
table thead tr th{ border:0; }
table tbody tr td{ border: 0px solid #ccc; }